/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
--font-text:'Inter';
--font-title:'Press Start 2P';
--font-wight-card-title:715;
--font-weigh-card-text:410;
 --bg-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0px 2px,
      rgb(211 211 211 / 0) 2px 4px
    ),
    repeating-linear-gradient(#d3d3d3 0px 2px, rgb(211 211 211 / 0) 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a 100%);
    --padding-top:clamp(122px, 112.77px + 2.46vw, 130px);
    --font-size-header: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
    --font-size-title:clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
    --width: clamp(375px, 260.56px + 30.52vw, 700px);
    --bg-color:#fff;
    --padding-sides:clamp(16px, -106.31px + 32.62vw, 122px);
    --water-mark-border-color: rgb(255, 255, 255);
    --width-card: clamp(371px, 100vw, 700px);
    --button-element-color:#000000;
    --accent-color: #000000;
    --animation-fill-color:#ff0000;
    --contour-color:#000000;
    --button-element:#ffffff;
    --icon-color:#000000;
    --size-picture-w:clamp(371px, 258,21px + 30,40vw, 696px);
    --size-picture-h:clamp(371px, 258,21px + 30,40vw, 696px);
}